lib/rnc/cbd.rnc

default namespace = "http://oracc.org/ns/cbd/2.0"
namespace cbd = "http://oracc.org/ns/cbd/2.0"

include "cbd-lib.rnc"
include "gdl-lib.rnc"

start = cbd

cbd	 = element entries { cbd.attr , (letters | entries) } 

cbd.attr = attribute project { text } ,
	   xlang ,
	   attribute n { text } ,
	   attribute translang { text }? ,
	   attribute version { text }? ,
	   props* ,
	   reldef* ,
	   i18nlangs?

props  = element props  { text }
reldef = element reldef { text }
i18nlangs = element i18langs  { i18nlang+ }
i18nlang  = element i18nlang { text }

letters = letter*

letter = element letter { letter.attr , entries }

letter.attr = attribute n { text }

entries  = entry*

entry    =  element entry { entry.attr , entry_block? , lang_block? ,
	    	    	    sense_block? , meta_block? , periods? }
	       	       	      
entry.attr = attribute n      { text }? ,
	     attribute oid    { text }? ,
	     attribute xml:id { text }? ,
	     attribute bang   { text }? ,
	     attribute star   { text }? ,
	     kis?

entry_block = cgp? , gwls? , xcpd? , mod? , aliases? , (partss|psu.compound)? , discs?

gwl  = element gwl  { text } 
gwls = element gwls { gwl+ }

xcpd = element see-compounds { element xcpd { attribute eref { text } , text }+ }

mod         = element mod { attribute type   { text } ,
	      	      	    attribute target { text } ,
	      	      	    attribute why    { text }? }

psu.compound = element compound { cpd+ }
cpd = element cpd {
    attribute primary { "1" }?,
    attribute partsig { text },
    attribute ref { text },
    cgp
    }

aliases     = element aliases 	{ alias+ }

alias       = element alias 	{ text }

partss      = element partss { element parts { cgpstr+ }+ }

cgpstr	    = element cgp    { text }

discs       = element discs { element disc { disc.model } , element discl { disc.model }* }

disc.model  = disc.text | disc.html

disc.text   = text # actually otf:text in future

disc.html   = text # actually html:div in future

periods = element periods { element p { kis? , text }+ }

lang_block  = bases_block? , forms? , norms?

bases_block = allows? , bases , stems? , phon? , root?

allows 	    = element allows { allow+ }
allow 	    = element allow  { attribute lhs { text } , attribute rhs { text } }
bases 	    = element bases  { base+ }

stems	    = element stems  { stem+ }
stem        = element stem   { text }
phon	    = element phon   { text }
root	    = element root   { text }

forms	    = element forms    { form* }
form 	    = element form     { cbd.form.model }

cbd.form.model =
	       attribute xml:id { text },
	       attribute n { text },
	       kis?,
	       cbd.text

norms 	    = element norms { norm* }
norm	    = element norm { cbd.norm.model }

cbd.norm.model =
	       attribute xml:id { text },
	       attribute n { text },
	       kis?,
	       element n { text },
	       cbd.normforms

cbd.normforms = element forms { cbd.norm.f* }

cbd.norm.f    = element f { cbd.normform.model }

cbd.normform.model = 
	       attribute cbd:id { text },
	       attribute ref { text },
	       attribute n { text },
	       kis?

form.model  = attribute form   { text } ,
	      attribute lang   { text } ,
	      attribute rws    { text } ,
	      attribute base   { text } ,
	      attribute stem   { text } ,
	      attribute cont   { text } ,
	      attribute morph  { text } ,
	      attribute morph2 { text } ,
	      attribute norm   { text } ,
	      attribute bang   { text }?

sense_block = element senses   { sense+ }
sense 	    = element sense    { cbd.sense.model , mod? , sensel* }

cbd.sense.model = attribute n      { text }? ,
	     attribute oid    { text }? ,
	     attribute xml:id { text }? ,
	     kis?,
	     pos, mng, lang_block?,
	     sigs?

sense.model = attribute sid    { text }? ,
	      attribute sok    { text }? ,
	      attribute sgw    { text }? ,
	      attribute pos    { text }? ,
	      element   mng    { text }  ,
	      element   disc   { text }?

sigs	    = element sigs { sig* }
sig	    = element sig { attribute xml:id { text }, attribute sig { text }, kis? }

sensel 	    = element sensel  { attribute xml:lang { text } ,
	      	      	      	sense.model }

meta_block  = equivs? , pleiades? , notes? , inote* , isslps? , bibs? , collos?

equivs 	    = element equivs  { equiv+ }
equiv	    = element equiv   { attribute xml:lang { text } , text }

pleiades    = element pleiades { attribute pl_id    { text } ,
	      	      	         attribute pl_coord { text } ,
				 pl_alias* }
pl_alias    = element pl_alias { text }

notes	    = element notes    { note+  }
note	    = element note     { notel+ }
notel	    = element notel    { attribute xml:lang { text } , text }

inote	    = element inote    { text }

isslps	    = element isslp    { isslp+ }
isslp	    = element isslp    { attribute sortyear { text } ,
	      	      	       	 element year { text } ,
				 element auth { text } ,
				 element work { text } ,
				 element locn { text } }

bibs 	    = element bibs    { bib+ }
bib	    = element bib     { text }

collos	    = element collos  { collo+ }
collo	    = element collo   { text }

